* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.pstats {
  overflow: hidden;
}
.pl {
  color: #3498db;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 2 5px;
}
.graphs {
  margin-top: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}
